{% include 'base.html' %}

{% block title %}
<title>Book List</title>
{% endblock title %}

{% block body %}
<style>
  .hyperlink {
    text-decoration: none;
  }
</style>
<a type="button" class="btn btn-primary position-relative float-end" href="{% url 'Cart' %}" style="margin-right: 20px;margin-top: 20px;">
  Cart
  <span id="cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</a>
<div class="row row-cols-auto "></div>

<script>

  function fixtcurt() {
    var storedArray = JSON.parse(sessionStorage.getItem("items"))
    if (storedArray == null) {
      $("#cart").html('')
    } else {
      $("#cart").html(storedArray.length)
    }
  }
  $(document).ready(fixtcurt);
  $(document).ready(function () {
    var baseURL = "http://127.0.0.1:8000/api/book-list/"
    $.get(baseURL, function (data, status) {
      console.log(data, status);
      card = "";
      if (status == 'success') {
        var storedArray = JSON.parse(sessionStorage.getItem("items"))
        for (let index = 0; index < data.length; index++) {
          var flag = true;
          if (storedArray !=null  ) {
            for (let j = 0; j < storedArray.length; j++) {
              if (storedArray[j] == data[index]['id']) {
                flag = false;
                console.log(data[index]['id']);
                break;
              }
            }
          }

          if (flag) {
            card += '<a id ="' + data[index]['id'] + '" class="hyperlink" href="http://127.0.0.1:8000/book-details/' + data[index]['id'] + '"><div class="col" id ="' + data[index]['id'] + '" style="margin-top:20px"><div class="card" style="width: 18rem;height:22rem">'
            card += '<ul class="list-group list-group-flush">'
              tt=String(data[index]['title']).substring(0,20)
            card += '<li class="list-group-item"><h4><strong>' + tt + '...</strong></h4></li>'
            card += '<li class="list-group-item">' + data[index]['author'] + '</li>'
            syn = String(data[index]['synopsis']).substring(0, 120)
            card += '<li class="list-group-item">' + syn + '...</li>'
            card += '<li class="list-group-item"><strong>$' + data[index]['price'] + '</strong></li>'
            card += '</a><li class="list-group-item"><button id="' + data[index]['id'] + '" onclick="addtocart(this.id)" class="btn btn-primary btn-lg">Add</button></li></ul>'
            card += '</div></div>'

          }

        }
      }
      $(".row").html(card)
    });
  });
  function addtocart(id) {
    var storedArray = JSON.parse(sessionStorage.getItem("items"))
    var itemarray = new Array();
    if (storedArray == null) {
      itemarray.push(id);
    } else {
      for (let index = 0; index < storedArray.length; index++) {
        itemarray.push(storedArray[index])
      }
      if (!itemarray.includes(id)) {
        itemarray.push(id)
      }

    }
    window.sessionStorage.setItem("items", JSON.stringify(itemarray));
    fixtcurt()
    byebye(id)

  }

</script>
{% endblock body %}