{% include 'base.html' %}

{% block title %}
<title>Book List</title>
{% endblock title %}

{% block body %}
<style>
  .hoveer {
    cursor: pointer;
  }
</style>
<a type="button" class="btn btn-primary position-relative float-end" href="{% url 'Cart' %}" style="margin-right: 20px;margin-top: 20px;">
  Cart
  <span id="cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    0
    <span class="visually-hidden">unread messages</span>
  </span>
</a>
<div class="row row-cols-auto "></div>

<script>

  function fixtcurt() {
    var storedArray = JSON.parse(localStorage.getItem("items"))
    if (storedArray == null) {
      $("#cart").html('')
    } else {
      $("#cart").html(storedArray.length)
    }
  }
  $(document).ready(fixtcurt);
  $(document).ready(function () {
    var baseURL ="/api/book-list/"
    $.get(baseURL, function (data, status) {
      console.log(data, status);
      card = "";
      if (status == 'success') {
        var storedArray = JSON.parse(localStorage.getItem("items"))
        for (let index = 0; index < data.length; index++) {
          var flag = true;
          if (storedArray !=null  ) {
            for (let j = 0; j < storedArray.length; j++) {
              if (storedArray[j] == data[index]['id']) {
                flag = false;
                console.log(data[index]['id']);
                break;
              }
            }
          }

          if (flag) {
            id=data[index]['id']
            card += '<div class="col hoveer" id ="' + id + '" style="margin-top:20px" ><div class="card" style="width: 25rem;">';
            card += '<ul class="list-group list-group-flush" onclick="hyper('+id+')">';
              
              tt=String(data[index]['title']).split(' ');
              tt=tt[0]+' '+tt[1];
            card += '<li class="list-group-item text-break"><h4><strong>' + tt + '...</strong></h4></li>';
            card += '<li class="list-group-item">' + data[index]['author'] + '</li>';
            
            syn = String(data[index]['synopsis']);
            console.log(syn.length)
            if (syn.length>120) {
              syn=String(syn).substring(0,120);
              syn+='...'
            }else if(syn.length<120){
              var len=120-syn.length;
              syn=syn+'&nbsp'.repeat(len)

            }
            

            card += '<li class="list-group-item ">'+syn+'</li>';
            card += '<li class="list-group-item"><strong>$' + data[index]['price'] + '</strong></li></ul>';
            card += '<button id="' + id + '" onclick="addtocart(this.id)" class="btn btn-primary ">Add</button>';
            card += '</div></div>'

          }

        }
      }
      $(".row").html(card)
    });
  });
  function addtocart(id) {
    var storedArray = JSON.parse(localStorage.getItem("items"))
    var itemarray = new Array();
    if (storedArray == null) {
      itemarray.push(id);
    } else {
      for (let index = 0; index < storedArray.length; index++) {
        itemarray.push(storedArray[index])
      }
      if (!itemarray.includes(id)) {
        itemarray.push(id)
      }

    }
    window.localStorage.setItem("items", JSON.stringify(itemarray));
    fixtcurt()
    byebye(id)

  }

  function hyper(id){
    window.location='/book-details/'+id
  }
</script>
{% endblock body %}