{% include 'base.html' %}

{% block title %}
<title>Cart</title>
{% endblock title %}
{% block body %}
<div class="table-responsive container">
    <table class="table">
      <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price($)</th>
            <th>Function</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
            <td colspan="2" style="text-align: right;">Total Price</td>
            <td ><strong id="tprice"></strong></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <form method="post" class="container">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput">
        <label for="floatingInput">Full Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="tel" class="form-control" id="floatingInput">
        <label for="floatingInput">Phone Number</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Address</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Cash on delivery
        </label>
      </div>
      <input id="form_button" class="btn btn-outline-primary btn-lg" type="button" value="Submit" style="margin-top: 20px;">
  </form>

<script>

    $(document).ready(function () {
        var baseURL = "http://127.0.0.1:8000/api/book-list/"
        $.get(baseURL, function (data, status) {
            var storedArray = JSON.parse(sessionStorage.getItem("items"))
            console.log(storedArray)
            if (storedArray.length==0) {
                document.getElementById("form_button").disabled = true;
                $("tbody").html('<td colspan="4" rowspan="4" style="text-align:center">Cart Empty</td>')
            }else{
                card = "";
            if (status == 'success') {
                var sum=0;
                for (let index = 0; index < data.length; index++) {
                    var flag = false;
                    
                    for (let j = 0; j < storedArray.length; j++) {
                        if (storedArray[j] == data[index]['id']) {
                            flag=true;
                            console.log(data[index]['id']);
                            break;
                        }
                    }
                    if (flag) {
                        card+='<tr id="'+data[index]['id']+'"><td>'+data[index]['title']+'</td>'
                        card+='<td>'+data[index]['author']+'</td>'
                        card+='<td>'+data[index]['price']+'</td>'
                        card+='<td><button class="btn btn-outline-danger" id="'+data[index]['id']+'"  type="button" onclick="deletefromcart(this.id)" >Delete</button></td></tr>'
                        sum+=data[index]['price']
                        
                    }

                }
            }
            $("tbody").html(card)
            $("#tprice").html(sum)
            }
            
        });
    });
    function deletefromcart(id){
        console.log(id)
        var storedArray = JSON.parse(sessionStorage.getItem("items"))
        var itemarray=new Array();
        for (let index = 0; index < storedArray.length; index++) {
            if (storedArray[index]!=id) {
                itemarray.push(storedArray[index])
            }
          
        }
        window.sessionStorage.setItem("items", JSON.stringify(itemarray));
        
        var tprice=parseFloat(document.getElementById("tprice").innerHTML)
        var price=parseFloat(document.getElementById(id).getElementsByTagName('td')[2].innerHTML)
        var nowprice=tprice-price
        console.log(nowprice,price,tprice)
        if (nowprice<=0) {
            nowprice=0
            document.getElementById("form_button").disabled = true;
            $("tbody").html('<td colspan="4" rowspan="4" style="text-align:center">Cart Empty</td>')
        }
        $("#tprice").html(nowprice)
        byebye(id)
        var storedArray = JSON.parse(sessionStorage.getItem("items"))
        console.log(storedArray)

    }
</script>
{% endblock body %}